.bg-image {
    background-image: url('https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
    height: 600px; 
}

.center-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    text-align: center; 
}
.heading {
    margin-bottom: 10px;
}

.carousel-item img {
    max-width: 1000px; 
    height: auto; 
    margin: auto; 
  }
  .carousel {
    margin-top: 30px; 
  }
  .review-heading {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 10px;
  }
  .carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Set a fixed height */
    border: 1px solid #ccc; /* Border style for the box */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
  }

  .carousel-inner {
    width: 100%;
  }

  .customer-review {
    padding: 20px;
    text-align: center; /* Center the text */
  }

  .customer-name {
    font-style: italic;
    margin-top: 10px;
  }

  .review-heading {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 10px;
  }